body {
    padding: auto;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

#full-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


header {
    margin-top: 5px;
    justify-self: center;
    align-self: center;
    height: 100px;
}

header img {
    height: 100%;
    width: auto;
}

footer {
    justify-self: center;
    align-self: center;
}



/* CONTROLS */
#controls {
    color: rgba(217,48,111,.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    position: relative;
    left: 2px;
    max-width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
}

#controls div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cards {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.list-parent {
    aspect-ratio: 1/1;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    margin: 10px;
    box-shadow: 0px 0px 20px -6px rgba(217,48,111,.7);
    border-radius: 9%;
    list-style-image: initial;
}

#main-card {
    height: 400px;
    width: 450px;
    min-height: 350px;
    min-width: 400px;
}

#main-card li{
    width: 30%;
    height: 30%;
}

#player-card {
    height: 450px;
    width: 500px;
    min-height: 400px;
    min-width: 450px;
}

#player-card li {
    width: 30%;
    height: 30%;
}

li img {
    width: 100%;
    height: 100%;
}

div.hide {
    display: none;
}

.hidden {
    display: none;
}

.play-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor:pointer;
}

.play-button:active {
    transform: translateY(4px);
}

#start {
    height: 60px;
    margin: 10px;
    width: 190px;
    color: #D9306F;
    border-color: #D9306F;
    background-color:white;
    box-shadow: 8px 8px 0 rgba(217,48,111,.2);
    border-radius: 2%;
    cursor: pointer;
}

#start img {
    width: 100%;
    height: auto;
}



/* ANIMATING STUFF */
.move {
    animation-name: nextCard;
    animation-duration: 200ms;
}

@keyframes nextCard {
    from {
        opacity: 100%; 
        transform: translateX(0px) scale(100%);
    }
    to {
        opacity: 0%; 
        transform: translateX(400px) scale(70%);
    }
}

