body {
    padding: auto;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

/* CONTROLS */
#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#cards {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.list-parent {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 20px -6px pink;
    border-radius: 50px;
    list-style-image: initial;
}

#main-card {
    height: 350px;
    width: 400px;
}

#main-card li{
    padding: 5px;
    width: 30%;
    height: 30%;
}

#player-card {
    height: 400px;
    width: 450px;
}

#player-card li {
    padding: 5px;
    width: 30%;
    height: 30%;
}

img {
    width: 100%;
    height: 100%;
}


.hide {
    display: none;
}


footer {
    margin-top: auto;
    justify-self: center;
    align-self: center;
}

.play-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor:pointer;
}

.play-button:active {
    transform: translateY(4px);
}


/*
body {
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-around;
}

#main-card {
    display: flex;
    aspect-ratio: 1/1;
    max-block-size: 400px;
    min-block-size: 350px;
}

#player-card {
    display: flex;
    aspect-ratio: 1/1;
    max-block-size: 400px;
    min-block-size: 350px;
}

.symbol {
    display: flexbox;
    height: 30%;
    width: 30%;
} 

.list-parent {
    margin: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 20px -6px pink;
    border-radius: 50px;
}

.play-button {
    display: flexbox;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor:pointer;
    height: 100%;
    width: auto;
}

.player-card.play-button:active {
    transform: translateY(4px);
}


 .card li {
    height: 30%;
} 
 
img {
    display: flexbox;
    margin-left: 0;
    padding-left: 0;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

/* .player-card.move {
    
} 
#cards
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

<li class="symbol ${symbol.name}">
    <button class="play-button">
        <div><img name="${symbol.name}" class="img${index}" src="./img/${symbol.img}" alt="${symbol.name}"></div>
    </button>
</li>





*/